html,body{
  margin: 0;
  padding:0;
  text-shadow: 0 0 1px white;
}
html{
  font-size: 10px;
}
* {
  box-sizing: border-box;
  font-family: 楷体, serif;
}
a{
  text-decoration-line:none;
}
::-webkit-scrollbar {
  width: 0;
}
