#content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 10px;
}
#left{
  width: 30%;
  min-width: 200px;
}
#right{
  width: 68%;
}
@media screen and (max-width: 800px){
  #left,#right{
    width: 100%;
  }
}